<!DOCTYPE html>
<html>
    <head>
        <title>bustadice Roll Verifier</title>
        <link rel="stylesheet" href="styles.css">
        <script src="https://unpkg.com/node-forge@0.7.0/dist/forge.min.js"></script>
        <script src="https://unpkg.com/vue@2.4.2"></script>
        <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
    </head>
    <body>
        <div id="app">
            <h1><a class="title-link" href="https://bustadice.com">bustadice</a> Roll Verifier</h1>
            <div id="input" class="center-box">
                <h2>Input</h2>
                <input v-model="serverSeed" type="text" placeholder="Server Seed">
                <input v-model="serverSeedHash" type="text" placeholder="Server Seed Hash">
                <input v-model="clientSeed" type="text" placeholder="Client Seed">
                <input v-model="nonce" type="number" placeholder="Nonce">
            </div>
            <div id="output" class="center-box">
                <h2>Output</h2>
                <pre v-if="serverSeed">{{`Server Seed: ${serverSeed}`}}</pre>
                <pre v-if="serverSeed && splitSeeds(serverSeed)">{{`Calculated hash of Server Seed: ${hashServerSeed(splitSeeds(serverSeed))}`}}</pre>
                <pre v-if="serverSeedHash">{{`Provided hash of Server Seed: ${serverSeedHash}`}}</pre>
                <pre v-if="serverSeed && serverSeedHash">{{`Hashes match: ${hashServerSeed(splitSeeds(serverSeed)) === serverSeedHash}`}}</pre>
                <pre v-if="clientSeed">{{`Client Seed: ${clientSeed}`}}</pre>
                <pre v-if="clientSeed && nonce">{{`Nonce: ${nonce}`}}</pre>
                <pre v-if="allInfoPresent()">Result: {{result()}}</pre>
            </div>
        </div>
        <p class="donation">Donations: <a href="bitcoin:1L7jCdX32cRSLankubtGNWBedBn6M1NofJ?label=bustadice%20Verifier%20Donation">1L7jCdX32cRSLankubtGNWBedBn6M1NofJ</a> &bull; <a href="https://github.com/RGBKey/yolodice-verifier">GitHub Source</a></p>
        <p class="attrib">This project uses the third-party libraries <a href="https://vuejs.org/">Vue.js</a> and <a href="https://github.com/digitalbazaar/forge">Forge</a></p>
        <script src="main.js"></script>
    </body>
</html>